<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Vegetable Selection page</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Fresh Vegetables</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            <h1>Here is Your Vegetables Cart</h1>
            <p>Your can go back to add or remove some items if you wish</p>
        </header>
        <section class="List-of-selected-vegetables">
            <article class="Vegetable">
                <img src="new_veg.jpg" alt="veggies">
                <h2>Carrot</h2>
                <p>Price: $2.99 per kg</p>
                <p>Quantity: 2kg</p>
                <p>Total: $5.98</p>
            </article>
        </section>
        <section class="Total-cost">
            <h2>Total Cost</h2>
            <p>Your total cost for this order is: $39.99</p>
            <button>Checkout Here</button>
        </section>
        <footer>
            <p>&copy; 2023 The Corporate Vegetable Shop. All rights reserved</p>
        </footer>
    </body>
</html>