<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <title>home_page</title>
    </head>
<body>
{% extends "base.html" %}

{% block content %}
    <h1>Welcome to The Corporate Vegetable Shop</h1>
    <p>Do your work, and we will take care of your nutritional needs</p>
<!--    <img src="{{ url_for('static', filename='home_page_image.jpg')}}" alt="vegetable image">-->

    <img src="{{ url_for('static', 'new_veg.jpg')}}" alt="vegetable image">

    <section class="Features">
        <h2>Featured Vegetables</h2>
    </section>

    <section class="Special-orders">
        <h2>Special Vegetable Orders</h2>
    </section>

    <section class="Consumer-club">
        <h2>Regular Buyers Club</h2>
    </section>
{% end block %}
</body>
</html>

