
<!-- home_page.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Welcome to The Corporate Vegetable Shop</h1>
    <p>Do your work, and we will take care of your nutritional needs</p>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <img src="{{ url_for('static', filename='home_page_image.jpg')}}" alt="vegetable image">

    <section class="Features">
        <h2>Featured Vegetables</h2>
    </section>

    <section class="Special-orders">
        <h2>Special Vegetable Orders</h2>
    </section>

    <section class="Consumer-club">
        <h2>Regular Buyers Club</h2>
    </section>
{% endblock %}
