<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Payment Information</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Fresh Vegetables</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Transaction</a></li>
                </ul>
            </nav>
            <h1>Payment Information</h1>
            <p>Please provide your payment information for processing</p>
        </header>

        <section class="card_info">
            <article class="card_info">
                <img src="payment.webp", alt="card_info">
            </article>
        </section>

        <section class="payment-form">
            <form>
                <label for="card-number">Credit Card Number:</label>
                <input type="text" id="card-number" name="card-number" placeholder="1234 5678 9012">

                <label for="card-confirmation">Confirm Card Number:</label>
                <input type="text" id="card-confirmation" name="card-confirmation" placeholder="1234 5678 9012">

                <label for="expiry-date">Expiry Date:</label>
                <input type="text" id="expiry-date" name="expiry-date" placeholder="MM/YY">

                <label for="card-name">Cardholder Name:</label>
                <input type="text" id="card-name" name="card-name" placeholder="Firstname Lastname">

                <button>Confirm Payment</button>
            </form>
        </section>

        <footer>
            <p>&copy; 2023 The Corporate Vegetable Shop. All rights reserved</p>
        </footer>
    </body>
</html>