<!-- veg_selection -->
{% extends "base.html" %}

{% block content %}
    <h1>Fill Your Vegetable Cart with all the Needed Items</h1>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <img src="{{ url_for('static', filename='new_veg.jpg')}}" alt="Vegetable selection">

    <form method="post">
        <label for="vegetable">Select Vegetable:</label>
        <select id="vegetable" name="vegetable">
            {% for veg_name in vegetables %}
            <option value="{{ veg_name }}">{{veg_name}}</option>
            {% endfor %}
        </select>

        <label for="quantity">Quantity (kg):</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">

        <button type="submit">Add to shopping_cart</button>
    </form>

