<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <title>Shopping Cart Page</title>
    </head>
<body>
{% extends "base.html" %}

{% block content %}

    <article class="shopping-cart-image">
    <img src="{{ url_for('static', filename='shop_cart.jpg')}}" alt="shopping cart image">
    </article>

    <section>
      <ol>
        {% for item in shopping_cart %}
        <li>{{ item[0] }} - Quantity: {{item[1]}} kg</li>
        {% endfor %}
      </ol>
    </section>
{% endblock %}
</body>
</html>