*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.vegetable_selection_body {
    font-family: Arial, sans-serif;
    background-color: transparent;
}

header {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul li {
    margin-right: 20;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    padding-inline-start: 20px;
}

footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 50px;
}

.homepage-image img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    display:  block;
    margin: 0 auto

.Features, .Special-orders, .Consumer-club {
    padding: 10px;
    background-color: none;
    color: purple;
    margin: 5px;
    border-radius: 5px;
}



/*This adds styles to the vegetable selection page*/
.vegetable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
}

.Vegetable {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Vegetable img {
    width: 100%;
    max-height: 150%;
    object-fit: cover;
}

.Vegetable h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: orangered;
}

.Vegetable p {
    display: block;
    color: orangered;
}

label {
    display: block;
    margin-top: 10px;
    color: orangered;
}

/* Cost calculation page*/
.Total-cost {
    text-align: center;
}

/* Payment information */

.card_info img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.payment-form form {
    background-color: aliceblue;
    color: black;
}

/* Order Confirmation */

.Summary-of-order {
    padding: 10px;
    background-color: white;

}

.Transaction-details {
    padding: 10px;
    background-color: none;
    color: beige;
    margin: 5px;
    border-radius: 5px;
}

.image img {
    width: 100%;
    max-height: 150%;
    object-fit: cover;
}
